<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" width="device-width" initial-scale="1" />
        <meta charset="UTF-8">
        <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
        <script
            src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"
            integrity="sha384-UFoZU2py/0EQf37hFN8iBaIC0ojoD9OfXOzMm8uWB16qd6EEQUhhz7cCifKJFsRi"
            crossorigin="anonymous"></script>
        <script
            src="https://unpkg.com/nunjucks@3.2.4/browser/nunjucks.min.js"
            integrity="sha384-ZNWDztJihcuTdvvOj/69bJWcalk3vWhHhurVe78xxAbMM8A8rmHY5+eTDWIjWC7Q"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/simple.min.css"
            integrity="sha384-JjaRx4XrZf11I2NwckuiPIlqPF39vkQoVTaqZcMoEXaZIIrAW1CTNa8Ty0X79dZl">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="favicon" href="/img/favicon.png">
    </head>
    <body>
        <header>
            <h3>Thin Controller</h3>
        </header>
        <main class="main">
            <div hx-ext="client-side-templates">
                <div id="errors" class="error"></div>

                <div hx-get="/api/instances" hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-target="#content"
                    nunjucks-template="instances">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Region</th>
                                <th>State</th>
                                <th>Tags</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody id="content">
                            <tr><td colspan='6'>Loading...</td></tr></tbody>
                    </table>
                </footer>
            </div>
        </main>
        <footer>
            <div hx-ext="client-side-templates">
                <div hx-get="/api/config" hx-trigger="load"
                    hx-swap="innerHTML" hx-target="#api_config"
                    nunjucks-template="api_config_template">
                    <a href="https://github.com/yaleman/thin-controller">Thin
                        Controller</a> |
                    <div id="api_config" style="display: inline">Config
                        loading...</div>
                </div>
            </div>

        </body>

        <template id="api_config_template">
            Regions: {{ regions }}
        </template>

        <template id="instances">
            {% for instance in instances %}

            <tr>
                <td
                    style="flex-wrap: nowrap;text-wrap: nowrap">
                    <a
                        href="https://{{instance.region}}.console.aws.amazon.com/ec2/home?region={{instance.region}}#InstanceDetails:instanceId={{instance.instance_id}}"
                        target="_blank">{{instance.instance_id}}</a></td>
                <td>{{instance.name}}</td>
                <td
                    style="flex-wrap: nowrap;text-wrap: nowrap">{{instance.region}}</td>
                <td>{{instance.state}}</td>
                <td>
                    <ul>
                        {% for key, value in instance.tags %}
                        <li>{{key}} = {{value}}</li>
                        {% endfor %}
                    </ul>

                </td>
                <td>
                    <form method="POST" action="/api/instance">

                        <input type="hidden" name="instance_id"
                            value="{{instance.instance_id}}" />
                        <input type="hidden" name="region"
                            value="{{instance.region}}" />
                        {% if instance.state=="stopped" %}
                        <input type='submit' name='new_state' value="start"
                            id="{{instance.instance_id}}" />
                        {% elif instance.state=="starting" %}
                        <input type='submit' name='starting'
                            disabled>Starting...</input>
                    {% elif instance.state=="running" %}

                    <input type='submit' name="new_state" value='stop'
                        style="background-color: green" />
                    {% else %}
                    <button disabled>{{instance.state}}</button>
                    {%endif%}

                </form>

            </td>
        </tr>
        {% endfor %}
    </template>
    <script>
        /* https://htmx.org/events/#htmx:responseError

        if htmx receives an error response from the server, it will trigger an htmx:responseError event on the document object.
        */
        document.body.addEventListener('htmx:responseError', function (evt) {
            const errorData = JSON.parse(evt.detail.xhr.response) || {"detail" : evt.detail.xhr.response};
            const errorMessage = `Error pulling data: ${errorData.detail}`;
            let errorDiv = document.getElementById("errors");
            errorDiv.innerHTML = errorMessage;

            errorDiv.style.display = "block";
          });
    </script>
</html>