<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" width="device-width" initial-scale="1" />
        <meta charset="UTF-8">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script
            src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
        <script
            src="https://unpkg.com/nunjucks@3.2.4"></script>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header>

            <h3>Thin Controller</h3>
        </header>
        <main class="main">
            <div id="errors" class="error"></div>
            <div hx-ext="client-side-templates">
                <div hx-get="/api/instances" hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-target="#content"
                    nunjucks-template="instances">
                    <!-- Click Me -->
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Region</th>
                                <th>State</th>
                                <th>Tags</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody id="content">
                            <tr><td colspan='6'>Loading...</td></tr></tbody>
                    </table>
                </div>
            </main>
            <footer><a href="https://github.com/yaleman/thin-controller">Thin
                    Controller</a></footer>
        </body>

        <template id="instances">
            {% for instance in instances %}

            <tr>
                <td
                    style="flex-wrap: nowrap;text-wrap: nowrap">{{instance.id}}</td>
                <td>{{instance.name}}</td>
                <td
                    style="flex-wrap: nowrap;text-wrap: nowrap">{{instance.region}}</td>
                <td>{{instance.state}}</td>
                <td>
                    <ul>
                        {% for key, value in instance.tags %}
                        <li>{{key}} = {{value}}</li>
                        {% endfor %}
                    </ul>

                </td>
                <td>
                    <form method="POST" action="/api/instance">

                        <input type="hidden" name="id"
                            value="{{instance.id}}" />
                        <input type="hidden" name="region"
                            value="{{instance.region}}" />
                        {% if instance.state=="stopped" %}
                        <input type='submit' name='new_state' value="start"
                            id="{{instance.id}}" />
                        {% elif instance.state=="starting" %}
                        <input type='submit' name='starting'
                            disabled>Starting...</input>
                    {% elif instance.state=="running" %}

                    <input type='submit' name="new_state" value='stop'
                        style="background-color: green" />
                    {%endif%}

                </form>

            </td>
        </tr>
        {% endfor %}
    </template>
    <script>
        /* https://htmx.org/events/#htmx:responseError

        if htmx receives an error response from the server, it will trigger an htmx:responseError event on the document object.
        */
        document.body.addEventListener('htmx:responseError', function (evt) {
            const errorData = JSON.parse(evt.detail.xhr.response) || {"detail" : evt.detail.xhr.response};
            const errorMessage = `Error pulling data: ${errorData.detail}`;
            let errorDiv = document.getElementById("errors");
            errorDiv.innerHTML = errorMessage;

            errorDiv.style.display = "block";
          });
    </script>
</html>