---
name: mypy

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Running mypy
        run: |
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv run pyright
          uv run mypy --strict $(basename $(pwd) | sed -E 's/-/_/g') tests/
